*.pyc
tests/artefacts*
build/
db.sqlite3
dist/
nbhosting.egg-info/
django/fake-root/
tests/phantomjs-2.1.1-macosx
TAGS
*.key
extra-docs/
jupyter/screenshots-older-versions/
tests/**/*.txt
tests/**/*.png
tests/**/LOG
testing-with-cypress/**
registration/*.input
registration/*.mail
.macnb
.vscode
glitch
ssl-certificate*
django/templates/registration/django/
