# -*- python -*-
####################
# in order to configure for your site without interfering with
# settings.py as shipped in the git repo, you can use this file
# as a template for a file that you have to name sitesettings.py
# in the same directory as settings.py
####################

# this will get patched by upgrade-swap.sh
production_box = True

# filename extensions that are expected to possibly hold notebooks
# since using jupytext, this is no longer limited to '.ipynb'
notebook_extensions = ['ipynb', 'py', 'md']

# as of 0.18.0 only 'https' is supported for server_mode
# this means the system will accept ONLY https requests
# i.e. http incoming requests are redirected to https
# note that official sites like fun-mooc.fr can themselves
# be reached only over https, and will thus refuse
# to fetch a nbhosting iframe over http
server_mode = "https"

# for the nginx config
if production_box:
    server_name = "nbhosting.inria.fr"
    ssl_certificate = "/root/ssl-certificate/bundle.crt"
    ssl_certificate_key = "/root/ssl-certificate/nbhosting.inria.fr.key"
else:
    server_name = "nbhosting-dev.inria.fr"
    ssl_certificate = "/root/ssl-certificate-dev/bundle.crt"
    ssl_certificate_key = "/root/ssl-certificate-dev/nbhosting-dev.inria.fr.key"


# the location used by the application
# typically where you have a big fat btrfs filesystem
# our main deployment at Inria uses /nbhosting/current that is
# a symlink to either /nbhosting/prod or /nbhosting/dev
nbhroot = '/nbhosting/current'

# the location where the application is installed
# i.e. the place where you have git clone'd it before
# running ./install.sh
srcroot = '/root/nbhosting'

# the location where the container runtime storage is 
# configured to store its images and all other files
# it should point into a btrfs partition
# IMPORTANT NOTE you need to realize that changing this value
# also means restarting from an empty 'podman images' so
# you will need to rebuild them all
podmanroot = '/nbhosting/containers'

### upstream portals
#
# trusting an upstream portal needs both next settings
# first is for django, second for jupyter
#
# the domains that we accept being a sub iframe of, typically
# 'self' (with the single quotes)
#    that allows nbhosting to work in classroom mode
#    where local pages include notebooks
# *.fun-mooc.fr
#    would allow to run as a companion to FUN
# see jupyter/jupyter_notebook_config.py.in
frame_ancestors = [
    "https://*.fun-mooc.fr",
    # if you plan on using nbhosting in classroom mode, this is required
    "'self'",
]

# the domains that are trusted
# typically the edx platform, as well as your own
# SSL-exposed domain name
allowed_referer_domains = [
    # add yourself here so the 'revert_to_original' and
    # 'share_static_version' feature can work properly
    server_name,
    'fun-mooc.fr',
]

# the IPs of devel boxes
# these will be allowed to send /notebookLazyCopy/ (formerly known as /ipythonExercice/) urls directly
# this is useful for debugging / troubleshooting
allowed_devel_ips = [
    # home
    ( 'exact', '82.226.190.44'),
    # work
    ( 'match', '138\.96\.[0-9]+\.[0-9]+'),
]

######################################## monitor policy
# in minutes
# monitor will run cyclically - every <period> minutes - 
# and kill containers that have been idle for more than <idle> minutes
# in addition containers older than <lingering> hours will get killed 
# no matter what else
# depends on your available resources and traffic of course
if production_box:
    monitor_idle = 120       # minutes
    monitor_period = 5       # minutes
    monitor_lingering = 24   # hours
else:
    monitor_idle = 5         # minutes
    monitor_period = 2       # minutes
    monitor_lingering = 1    # hours

######################################## django settings
# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = not production_box

# describes how to log stderr from (shell) sub processes
# depending on its returncode
# can be either:
# None : never logs
# True : always log
# False : log when return code != 0

DEBUG_log_subprocess_stderr = not production_box


# see e.g. https://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = 'your-actual-production-key-here'


# this is a native django setting
# see https://docs.djangoproject.com/en/1.11/ref/settings/#allowed-hosts
ALLOWED_HOSTS = [
    # as per django's expectations
    # a list of hostname's or IP address as strings
]

# maximal amount of memory allowed per container
# see http://docs.podman.io/en/latest/markdown/podman-run.1.html
# A unit can be b (bytes), k (kilobytes), m (megabytes), or g (gigabytes).
container_max_memory = "5g"   # 5 gigabytes 
