/* CSS for embedding inside an open-edx hosted MOOC page */

/* -------------------- hiding various parts of the notebook UI and menus */
/* first horizontal area (including name) */
#header-container {
    /* https://github.com/jupyter/docker-stacks/issues/480#issuecomment-336603502 */
    display: none !important;
}

/* ---------- hide menu entries */

/* File */
#new_notebook, #open_notebook, #copy_notebook, #rename_notebook,
#restore_checkpoint, #trust_notebook, #kill_and_exit	{ display: none; }

/* Edit & View - hide full submenu */
div#menus>div>div>ul.nav>li:nth-child(2),
div#menus>div>div>ul.nav>li:nth-child(3)		{display: none; }

/* Insert : is fine */

/* Cell */
#change_cell_type {display: none;}

/* Widgets */
div#menus>div>div>ul.nav>li:nth-child(3)		{display: none; }

/* Widgets submenu
   as opposed to the ones above, this entry cannot be hidden from custom.js
   because the extension fires afterwards
   needless to say, this is a little brittle 
   xxx especially if ipywidgets is not available ! 
*/
div#menus>div>div>ul.nav>li:nth-last-child(2)		{ display: none; }

/* Help submenu - sounds more robust already 
   xxx would it make sense to preserve submenu
   and filter out individual entries, like for File above ?
*/
div#menus>div>div>ul.nav>li:nth-last-child(1)		{ display: none; }

/* ---------- other pieces in the UI */
/* third horizontal area (toolbar) */
#move_up_down, 
#cut_copy_paste,
select#cell_type,
#notification_trusted,
p#kernel_indicator					{display: none; }

/* the command palette */
#maintoolbar>div>div>div:nth-child(7)			{display: none; }
/* celltoolbar */
#maintoolbar>div>div>div:nth-child(8)			{display: none; }


/* -------------------- layout (important) */
/* have the menubar and toolbar on the same line */
#menubar, #maintoolbar {
    display: inline-block;
}
div#maintoolbar-container {
    width: auto !important;
}
#menubar-container div {
    box-sizing: content-box;
}

/* our addition for the notebook name + version label */
#metaarea {
    display: inline-block;
    vertical-align: top;
    /* top right bottom left */
    margin: 5px 20px 0px -12px;
    padding: 5px 0px 0px 12px;
    border: 0px;
    min-height: 25px;
    /* */
    font-size: larger;
    background-color: #f6f6f6;
    border-radius: 6px;
    border-style: groove;
    border-width: 0px;
    border-color: #aaa;
}

#metaversion {
    margin-left: 10px;
    padding: 7px 8px 5px 5px;
    font-size: normal;
    background-color: #d1f8d2;
    color: navy;
    /* top-left top-right bottom-right bottom-left */
    border-radius: 0px 6px 6px 0px;
}

/* adjusting the header */
#menubar {
    padding-top: 10px;
    margin-right: 20px;
}

#menus {
    margin-top: -6px;
}

#maintoolbar {
    vertical-align: top;
    margin-top: 0px;
    padding-top: 7px;
}

#menus div.navbar-collapse li.dropdown>a {
    padding-left: 12px;
    padding-right: 12px;
}

/* -------------------- cosmetic only */
/* pink-ish to make it stand out */
div#header {
    background-color: #e0e9f2;
}

/* ---------- reset-to-original and share-static-version dialogs */
button.btn {
    border-radius: 6px;
}

.nbh-dialog {
    font-size: larger;
}
span#share-url {
    font-size: x-small;
}
#try-share-url {
    margin-left: 40px;
}

/* ---------- the different kinds of cells */
/*
the segments in a markdown
that are 4 spaces away from the margin
we want them to stick out with some background
*/
div.rendered_html>pre>code {
    background-color: #f7f7f7;
    border: 1px solid;
    border-color: #dde;
    border-radius: 4px;
    padding: .4em;
}
/*
this would be for `backquoted inline code`
*/
.rendered_html code {
    background-color: #f0f0ff;
    padding: 3px;
    border-radius: 4px;
}

/* ***** text cells ***** */
div.text_cell.unrendered.selected>div.inner_cell>div.input_area {
    background-color: #b1d4e7;
}
div.text_cell.unrendered.unselected>div.inner_cell>div.input_area {
    background-color: #bfe3f7;
}
div.text_cell.rendered.selected>div.inner_cell>div.text_cell_render {
    background-color: #f2f2f2;
}
div.text_cell.rendered.unselected>div.inner_cell>div.text_cell_render {
    background-color: #f8f8f8; 
}

/* ***** code cells ***** */
div.code_cell.unselected>div.input>div.inner_cell>div.input_area {
    background-color: #f2efec;
}
div.code_cell.selected>div.input>div.inner_cell>div.input_area {
    background-color: #e1dfdc;
}
/* works, but not really helpful
div.code_cell div.output_subarea, div.code_cell div.widget-subarea {
    background-color: #f0f8f0;
}
*/
div.title-slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
}
