/* CSS for embedding inside an open-edx hosted MOOC page */

/* have the menubar and toolbar on the same line */
#menubar, #maintoolbar {
    display: inline-block;
}
div#maintoolbar-container {
    width: auto !important;
}

/*
the segments in a markdown
that are 4 spaces away from the margin
we want them to stick out with some background
*/
div.rendered_html>pre>code {
    background-color: #f7f7f7;
    border: 1px solid;
    border-color: #dde;
    border-radius: 4px;
    padding: .4em;
}
/*
this would be for `backquoted inline code`
*/
.rendered_html code {
    background-color: #f0f0ff;
    padding: 3px;
    border-radius: 4px;
}
