/* CSS for embedding inside an open-edx hosted MOOC page */

/* -------------------- layout (important) */
/* have the menubar and toolbar on the same line */
#menubar, #maintoolbar {
    display: inline-block;
}
div#maintoolbar-container {
    width: auto !important;
}
#menubar-container div {
    box-sizing: content-box;
}

/* our addition for the notebook name + version label */
.metadata-bar {
    padding: 6px;
    margin-bottom: 15px; /* no effect ? */
    margin-right: 20px;
    font-size: large;
    background-color: #f0f0f0;
}

/* cosmetic */
#menubar {
    padding-top: 10px;
    margin-right: 20px;
}

/* -------------------- cosmetic only */

/* ---------- reset-to-original and share-static-version dialogs */
button.btn {
    border-radius: 4px;
}

.nbh-dialog {
    font-size: larger;
}
span#share-url {
    font-size: x-small;
}
#try-share-url {
    margin-left: 40px;
}

/* ---------- the different kinds of cells */
/*
the segments in a markdown
that are 4 spaces away from the margin
we want them to stick out with some background
*/
div.rendered_html>pre>code {
    background-color: #f7f7f7;
    border: 1px solid;
    border-color: #dde;
    border-radius: 4px;
    padding: .4em;
}
/*
this would be for `backquoted inline code`
*/
.rendered_html code {
    background-color: #f0f0ff;
    padding: 3px;
    border-radius: 4px;
}

/* ***** text cells ***** */
div.text_cell.unrendered.selected>div.inner_cell>div.input_area {
    background-color: #b1d4e7;
}
div.text_cell.unrendered.unselected>div.inner_cell>div.input_area {
    background-color: #bfe3f7;
}
div.text_cell.rendered.selected>div.inner_cell>div.text_cell_render {
    background-color: #f2f2f2;
}
div.text_cell.rendered.unselected>div.inner_cell>div.text_cell_render {
    background-color: #f8f8f8; 
}

/* ***** code cells ***** */
div.code_cell.unselected>div.input>div.inner_cell>div.input_area {
    background-color: #f2efec;
}
div.code_cell.selected>div.input>div.inner_cell>div.input_area {
    background-color: #e1dfdc;
}
/* works, but not really helpful
div.code_cell div.output_subarea, div.code_cell div.widget-subarea {
    background-color: #f0f8f0;
}
*/
