# this is meant to be installed under /etc/systemd/system
[Unit]
Description=nbh-monitor kills jupyter containers that have been idle for too long

# can use e.g. --grace=180 to increase grace time to 3 hours
# or --period=5 if we want to run every 5 minutes
[Service]
Environment=PYTHONPATH=/root/nbhosting/nbhosting
ExecStart=/bin/bash -c "/usr/bin/python3 /root/nbhosting/nbhosting/stats/nbh-monitor --period 5"

[Install]
WantedBy=multi-user.target
