[Unit]
Description=Cyclically perform git pull for courses that have autopull turned on

[Service]
Type=oneshot
ExecStart=/usr/bin/nbh-manage course-auto-pull --all
