# this is meant to be installed under /etc/systemd/system
[Unit]
Description=job that cyclically collects system and course data, and kills idle containers

# the nbh-monitor script accepts options :
# --grace 20 : sets the idle timeout in minutes after which inactive containers
#    get stopped; under jupyter5, this is accurate, it really refers to
#    the latest user action
# --period 10 : monitor cycle in minutes; this also sets the frequency
#    at which counts.raw gets updated
###
# in devel mode we use shorter settings than the defaults
[Service]
Environment=PYTHONPATH=/root/nbhosting/nbhosting
ExecStart=/bin/bash -c "python3 /usr/bin/nbh-monitor --period 15 --grace 30"

[Install]
WantedBy=multi-user.target
