# this is meant to be installed under /etc/systemd/system
[Unit]
Description=the nbhosting django app as a uwsgi instance

[Service]
# this is wrong because of the hard-wired path
# plus, there is no indication that it is really useful though, so..
#ExecStartPre=/bin/rm -rf /nbhosting/current/courses/*/.tracks.json
ExecStart=/usr/sbin/uwsgi --ini /etc/uwsgi.d/nbhosting.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
# default is to kill the whole cgroup, which at some point at least included conmon
# that default behaviour has the catastrophic effect that a restart of the django service
# will cause all containers to die !
KillMode=process
StandardError=syslog
NotifyAccess=all
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
