# this is meant to be installed under /etc/systemd/system
[Unit]
Description=run the nbhosting service as a uswgi instance on the django app

[Service]
ExecStart=/usr/sbin/uwsgi --ini /etc/uwsgi.d/nbhosting.ini

[Install]
WantedBy=multi-user.target
