# this is meant to be installed under /etc/systemd/system
[Unit]
Description=the nbhosting django app as a uwsgi instance

# this is the regular way to define our service
# see also a fedora27-specific version
# in file nbh-uwsgi.service.f27

[Service]
ExecStartPre=/bin/rm -rf /nbhosting/course/*/.tracks.json
ExecStart=/usr/sbin/uwsgi --ini /etc/uwsgi.d/nbhosting.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
