{% extends "nbhosting.html" %}

{% block head_title %}
{{coursename}} - {{track.number_notebooks}} notebooks
{% endblock %}


{% block title %}
{{track}}:{{track.name}}
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb">
{% if user.is_authenticated and user.is_staff %}
  <li class="breadcrumb-item staff"><a href="/staff/courses/">courses</a></li>
{% endif %}
    <li class="breadcrumb-item"><a href='/auditor/'>home</a></li>
    <li class="breadcrumb-item"><a href='/auditor/courses'>courses</a></li>
    <li class="breadcrumb-item">
        <a href="/auditor/course/{{coursename}}">{{coursename}}</a></li>
    <li class="breadcrumb-item active">
        <a href="/auditor/course/{{coursename}}:{{track.name}}">{{track.name}}</a></li>
</ol>
{% endblock %}


{% block content %}
<style>
.course-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.notebook {
    font-size: 60%;
    border: 0.1px solid #888;
    border-radius: 5px;
    padding: 4px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px
}
/* only in-course means it's not yet been copied */
.in-course {
    background-color: #ccc;
}
/* both means it exists and it's been copied */
.in-course.in-student {
    background-color: #afa;
}
/* only in-student means somehow it's obsolete */
.in-student {
    background-color: #faa;
}
a.notebook {
    color: black;
}
a.notebook:hover {
    color: purple;
}
span.section-details {
    font-size:  50%;
}
a.track {
    background-color: #ddd;
    padding: 4px;
    border-radius: 4px;
    border: solid 1px #888;
    color:green;
}
a.track:link {
    text-decoration: none;
}
a.track.main {
    font-weight: bold;
}
a.track.active {
    background-color: #fff;
}
</style>

<!------------------------------>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card-block m-3">
                <h1>Tracks</h1>
            </div>
            {% for ntrack in tracks %}
                <div class="card-block m-2">
                    <a href="/auditor/course/{{coursename}}:{{ntrack.name}}"
                     data-toggle="tooltip"
                     data-html="true"
                     title="{{ntrack.description}}
                     {%if ntrack.name == main_trackname%}<br/>(main track){%endif%}
                     {%if ntrack.name == track.name%}<br/>(current track){%endif%}
                     "
                       class="track
                       {% if ntrack.name == main_trackname %}
                       main
                       {% endif %}
                       {% if ntrack.name == track.name %}
                       active
                       {% endif %}
                       ">
                    {{ ntrack.name }}
                </a>
                </div>
            {% endfor %}
        </div>
        <div class="col-9">
            <div class="card-block m-3">
                <h1>Sections for track {{track.name}}</h1>
            </div>
            {% for section in track.sections %}
            <div class="card-block m-2">
                <h2 class="card-title">{{section.name}}
                <span class="section-details">
                ({{section.length}} notebooks)</span></h2>
            </div>
            <div class="course-box m-3">
                {% for notebook in section.notebooks %}
<a class='notebook {{notebook.classes}}'
href='/auditor/notebook/{{coursename}}:{{track.name}}/{{notebook.clean_path}}'
>{{notebook.notebookname}}
</a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
