{% extends "nbhosting.html" %}

{% block head_title %}
container killed
{% endblock %}

{% block title %}
container killed
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% if user.is_authenticated and user.is_staff %}
  <li class="breadcrumb-item staff"><a href="/staff/courses/">courses</a></li>
  {% endif %}
  <li class="breadcrumb-item active"><a href="/welcome/">home</a></li>
  <li class="breadcrumb-item"><a href="/auditor/courses/">courses</a></li>
</ol>
{% endblock %}


{% block content %}

<div class="container">
  <h1>Container killed</h1>
  <p class="lead">Container for course {{ coursename }} and student {{student}} was successfully killed</p>
</div>
{% endblock %}
