{% extends "nbhosting.html" %}

{% block title %}
{{how_many}} notebooks in course {{course}}
{% endblock %}


{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href='/nbh/'>home</a></li>
  <li class="breadcrumb-item"><a href='/nbh/courses'>courses</a></li>
  <li class="breadcrumb-item active">{{course}}</li>
</ol>

<div class='section'>
<a href='/nbh/courses/update/{{course}}' class='btn btn-primary btn-lg btn-block'>
Update (git pull) {{course}}
</a>
</div>

<div class="card">
<div class="card-block">
<h2 class="card-title">Notebooks</h2>
<ul class="list-group list-group-flush">
{% for notebook in notebooks %}
<li class="list-group-item">
 <a class='card-link'
   href='/ipythonExercice/{{course}}/{{notebook}}/anonymous'>{{notebook}}
 </a>
</li>
{% endfor %}
</ul>
</div>
</div>
<!------------------------------>

{% endblock %}
