{% extends "nbhosting.html" %}


{% block head_title %}
{{coursedir.coursename}}
{% endblock %}


{% block title %}
updating {{coursedir.coursename}}
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb staff">
{% if user.is_authenticated and user.is_staff %}
    <li class="breadcrumb-item auditor"><a href="/auditor/notebook/{{coursename}}">{{coursedir.coursename}}</a></li>
    <li class="breadcrumb-item auditor"><a href="/auditor/courses/">courses</a></li>
{% endif %}
    <li class="breadcrumb-item"><a href='/welcome/'>home</a></li>
    <li class="breadcrumb-item"><a href='/staff/courses/'>courses</a></li>
    <li class="breadcrumb-item"><a href="/staff/course/{{coursename}}">{{coursedir.coursename}}</a></li>
    <li class="breadcrumb-item active"><a href="/staff/course/{{coursename}}/update">EDIT</a></li>
</ol>
{% endblock %}


{% block content %}

<h1>Course: {{ coursedir.coursename }}</h1>

<form action="" method="post">
  {% csrf_token %}
  <table>
  {{ form.as_table }}
  </table>
  <input type="submit" value="Submit">
</form>


{% endblock %}
