{% extends "nbhosting.html" %}

{% block head_title %}
manage courses
{% endblock %}

{% block title %}
manage courses
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb staff">
{% if user.is_authenticated and user.is_staff %}
  <li class="breadcrumb-item auditor"><a href="/auditor/courses/">courses</a></li>
{% endif %}
    <li class="breadcrumb-item"><a href='/welcome/'>home</a></li>
    <li class="breadcrumb-item active"><a href="/staff/courses/">courses</a></li>
</ol>
{% endblock %}


{% block content %}
<style>
div.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
h3 {
    text-align: right;
}
/*
div.buttons-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-around;
}
*/
</style>

<div class="grid">
    {% for course_dir in course_dirs %}
        <h3 class="card-title m-2">{{course_dir.coursename}}</h3>
        <a class="btn btn-lg btn-outline-danger m-2"
            href='/staff/course/{{course_dir.coursename}}'
            data-toggle="tooltip"
            title="pull, build, settings, ..."
        >manage</a>
        <a class="btn btn-lg btn-outline-warning m-2"
            href='/staff/stats/{{course_dir.coursename}}'
            data-toggle="tooltip"
            title="course activity and resources"
        >statistics</a>
        <span class="btn btn-lg btn-info m-2"
            data-toggle="tooltip" data-html="true"
            title="existing homedirs<br/>no more details for now"
        >{{course_dir.student_homes}} students</span>
    {% endfor %}
</div>

{% endblock %}
