{% extends "nbhosting.html" %}


{% block head_title %}
{{coursename}} - {{how_many}} notebooks
{% endblock %}


{% block title %}
{{how_many}} notebooks in course {{coursename}}
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb staff">
{% if user.is_authenticated and user.is_staff %}
    <li class="breadcrumb-item auditor"><a href="/auditor/course/{{coursename}}">{{coursename}}</a></li>
    <li class="breadcrumb-item auditor"><a href="/auditor/courses/">courses</a></li>
{% endif %}
    <li class="breadcrumb-item"><a href='/welcome/'>home</a></li>
    <li class="breadcrumb-item"><a href='/staff/courses/'>courses</a></li>
    <li class="breadcrumb-item active"><a href="/staff/course/{{coursename}}">{{coursename}}</a></li>
    <li class="breadcrumb-item"><a href="/staff/stats/{{coursename}}">stats</a></li>
</ol>
{% endblock %}


{% block content %}
<style>
.course-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.notebook {
    font-size: 50%;
    border: 0.1px solid #888;
    border-radius: 5px;
    padding: 4px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px
}
/* only in-course means it's not yet been copied */
a.notebook {
    background-color: #fef;
    color: black;
}
a.notebook:hover {
    color: purple;
}
span.mapping {
    font-family: Andale Mono, monospace;
    font-size: 80%
}
span.mapping.from {
    color: blue;
}
span.mapping.to::before {
    content: " → $coursedir/";
    color: green;
}
span.mapping.to {
    color: red;
}
.smaller {
    font-size: 75%;
}
div.tracks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}
.track{
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 4px;
    color: green;
}
</style>

<!------------------------------>
<div class="container-fluid">
    <div class="row">

        <div class="col-8">
            <div class='section'>
                <a href='/staff/courses/update-from-git/{{coursename}}'
                 class='btn btn-info btn-lg btn-block' data-toggle="tooltip"
                 data-html="true" title="<span class='smaller'>
                    update course <code>{{coursename}}</code>
                    <br/>using git pull from <br/><code>{{giturl}}</code></span>"
                >
                    git pull contents for {{coursename}}
                </a>
            </div> <!--section-->

            <div class="card">
                <div class="card-block m-3">
                    <h2 class="card-title">{{how_many}} notebooks</h2>
                </div>
                <div class="card-block course-box m-3">
                    {% for notebook in notebooks %}
                    <a class='notebook'
                        href='/auditor/notebook/{{coursename}}/{{notebook}}/staff'
                    >
                        {{notebook}}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div> <!-- col-8-->

    <!------------------------------>
        <div class="col-4">

            <div class='section'>
                <div class="card">
                    <div class="card-block m-3">
                        <h3 class="card-title" data-toggle="tooltip" data-html="true"
                         title="<span class='smaller'>
                             static mappings are symlinks created in all working subdirs<br/>
                         you can define them for your course in
                         <code>nbhosting/static-mappings</code></span>">static mappings</h3>
                         <ul class="list-group list-group-flush">
                            {% for static_mapping in static_mappings %}
                            <li class="list-group-item">
                                <p class='card-text'> {{static_mapping.html|safe|escape}} </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div> <!-- card-block-->
                </div> <!-- card-->
            </div>

            <div class="section">
                <div class="card">
                    <div class="card-block m-3">
                        <h3 class="card-title" data-toggle="tooltip" data-html="true"
                            title="<span class='smaller'>set with <code>nbh course-settings -i</code>
                            </br>if you use the course name<br/>then please provide <code>nbhosting/Dockerfile</code></br>so you can redo your image</span>">image</h3>
                        <p class='card-text'> docker name: {{image}} </p>
                        {% if image == coursename %}
                            <a href='/staff/courses/build-image/{{coursename}}'
                                class='btn btn-info btn-lg btn-block'
                                data-toggle="tooltip" data-html="true"
                                title="<span class='smaller'>rebuild image for that course<br/>
                                       please be patient</span>"
                            >
                                rebuild image
                            </a>
                        {% endif %}
                        <a href='/staff/courses/destroy-my-container/{{coursename}}'
                            class='btn btn-danger btn-lg btn-block'
                            data-toggle="tooltip"
                            data-html="true"
                            title="<span class='smaller'>for trying out a newly built image</br>
                                   we need to destroy your currently running container</span>"
                        >
                            destroy my container
                        </a>
                    </div>
                </div>
            </div>


            <div class="section">
                <div class="card">
                    <div class="card-block m-3">
                        <h3 class="card-title" data-toggle="tooltip" data-html="true"
                            title="<span class='smaller'>a track is an ordered subset
                            of the notebooks present in th repo; defining several tracks
                            can come in handy to propose several levels,
                            or several languages, or to expose only exercises in a separate track">tracks</h3>
                        <div class="tracks">
                            {% for track in tracks %}
                            <a class="track btn btn-secondary-success"
                                href="/auditor/course/{{coursename}}:{{track.name}}"
                                data-toggle="tooltip" data-html="true"
                                title="<span class='smaller'>switch to auditor mode to see track {{track.name}}</span>"
                            >{{track.name}}</a>
                            {% endfor %}
                        </div>
                        <a href='/staff/courses/show-tracks/{{coursename}}'
                            class='btn btn-info btn-lg btn-block'
                            data-toggle="tooltip"
                            data-html="true"
                            title="<span class='smaller'>show how tracks are computed</span>"
                            >
                            compute tracks
                        </a>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="card">
                    <div class="card-block m-3">
                        <h3 class="card-title" data-toggle="tooltip" data-html="true"
                        title="<span class='smaller'>set with <code>nbh course-settings -s</code>
                        </br>students listed as staff are ignored when gathering usage statistics">staff</h3>
                        <ul class="list-group list-group-flush">
                            {% for hash in staff %}
                            <li class="list-group-item">
                                <p class='card-text'> {{hash}} </p>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href='/staff/courses/clear-staff/{{coursename}}'
                            class='btn btn-info btn-lg btn-block'
                            data-toggle="tooltip" data-html="true"
                            title="will remove all notebooks found
                            in all students marked as staff<br/>
                            this helps in assessing the course is well-formed
                            by removing any leftovers"
                            >
                            clear staff files
                        </a>
                    </div> <!-- card-block-->
                </div> <!-- card-->
            </div>



        </div> <!-- col -->

    </div> <!-- row-->
</div> <!-- container-->

{% endblock %}
