{% extends "nbhosting.html" %}

{% block head_title %}
{{course}} - {{how_many}} notebooks
{% endblock %}

{% block title %}
{{how_many}} notebooks in course {{course}}
{% endblock %}


{% block content %}
<style>
.course-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.notebook {
    font-size: 60%;
    border: 0.1px solid #888;
    border-radius: 5px;
    padding: 4px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px
}
/* only in-course means it's not yet been copied */
.in-course {
    background-color: #ccc;
}
/* both means it exists and it's been copied */
.in-course.in-student {
    background-color: #afa;
}
/* only in-student means somehow it's obsolete */
.in-student {
    background-color: #faa;
}
a.notebook {
    color: black;
}
a.notebook:hover {
    color: purple;
}
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href='/auditor/'>home</a></li>
    <li class="breadcrumb-item"><a href='/auditor/courses'>courses</a></li>
    <li class="breadcrumb-item active">{{course}}</li>
</ol>

<!------------------------------>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-block m-3">
                <h2 class="card-title">{{how_many}} notebooks</h2>
            </div>
            <div class="course-box m-3">
                {% for detail in notebook_details %}
<a class='notebook
{% if detail.in_course %} in-course {% endif %}
{% if detail.in_student %} in-student {% endif %}
'
href='/auditor/notebook/{{course}}/{{detail.path}}/{{user.get_username}}'
>{{detail.path}}
</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
