{% extends "nbhosting.html" %}

{% block head_title %}
{{course}} - {{how_many}} notebooks
{% endblock %}

{% block title %}
{{how_many}} notebooks in course {{course}}
{% endblock %}


{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href='/auditor/'>home</a></li>
  <li class="breadcrumb-item"><a href='/auditor/courses'>courses</a></li>
  <li class="breadcrumb-item active">{{course}}</li>
</ol>

<!------------------------------>
<div class="container">
 <div class="row">

<!------------------------------>
  <div class="col-12">

   <div class="card">
    <div class="card-block m-3">
     <h2 class="card-title">Notebooks</h2>
     <div class="row">
     {% for notebook_col in notebook_cols %}
      <div class="col-6">
       <ul class="list-group list-group-flush">
        {% for notebook in notebook_col %}
         <li class="list-group-item" style='padding:3px;'>
          <a class='card-link' style='font-size:60%;'
           href='/ipythonExercice/{{course}}/{{notebook}}/{{user.get_username}}'
          >{{notebook}}
          </a>
         </li>
        {% endfor %}
       </ul>
      </div> <!-- col-6-->
     {% endfor %}
     </div> <!-- row -->
    </div> <!-- card-block-->
   </div> <!-- card-->
  </div> <!-- col-8-->


<!------------------------------>
</div> <!-- row-->
</div> <!-- container-->

{% endblock %}
