{% extends "nbhosting.html" %}

{% block title %}
{{how_many}} notebooks in course {{course}}
{% endblock %}


{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href='/nbh/'>home</a></li>
  <li class="breadcrumb-item"><a href='/nbh/courses'>courses</a></li>
  <li class="breadcrumb-item active">{{course}}</li>
</ol>

<!------------------------------>
<div class='section'>
<a href='/nbh/courses/update/{{course}}' class='btn btn-info btn-lg btn-block'>
Update {{course}} using git pull from <br/><span class="pull-left">{{giturl}}</span>
</a>
</div>

<!------------------------------>
<div class="container">

<div class="row">
<div class="col-8">
<div class="card">
<div class="card-block">
<h2 class="card-title">Notebooks</h2>
<ul class="list-group list-group-flush">
{% for notebook in notebooks %}
<li class="list-group-item">
 <a class='card-link'
   href='/ipythonExercice/{{course}}/{{notebook}}/anonymous'>{{notebook}}
 </a>
</li>
{% endfor %}
</ul>
</div> <!-- card-block-->
</div> <!-- card-->
</div> <!-- col-->

<!------------------------------>
<div class="col">

<div class="card">
<div class="card-header">
<p class="card-text">
Use <code>nbh course-settings {{name}}</code> to tweak.
</p>
</div> <!-- card-header-->
<div class="card-block">
<h2 class="card-title">Settings</h2>
</div> <!-- card-block-->
</div> <!-- card-->

<div class="card">
<div class="card-block">
<h3 class="card-title">Image</h3>
<p class='card-text'> name: {{image}} </p>
</div> <!-- card-block-->
</div> <!-- card-->

<div class="card">
<div class="card-block">
<h3 class="card-title">Statics</h3>
<ul class="list-group list-group-flush">
{% for static in statics %}
<li class="list-group-item">
    <p class='card-text'> {{static}} </p>
 </a>
</li>
{% endfor %}
</ul>
</div> <!-- card-block-->
</div> <!-- card-->

</div> <!-- col-->

</div> <!-- row-->
</div> <!-- container-->
<!------------------------------>

{% endblock %}
