{% extends "nbhosting.html" %}

{% block title %}
Known courses
{% endblock %}


{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href='/nbh/'>home</a></li>
  <li class="breadcrumb-item active">courses</li>
</ol>

{% for course in courses %}
<div class="card text-center">
<div class="card-block">
<h2 class="card-title">{{course}}</h2>
  <a class='btn btn-primary' href='/nbh/course/{{course}}' class="card-link">notebooks</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class='btn btn-info' href='/nbh/stats/{{course}}' class="card-link">statistics</a>
</div>
</div>
{% endfor %}
{% endblock %}
