{% extends "nbhosting.html" %}

{% block title %}
Course {{course}} {{managed}}
{% endblock %}

{% block content %}

<div class='section'>
<button type="button"
  class="btn btn-lg btn-block btn-{%if returncode == 0%}success{%else%}warning{%endif%}">
 <a href='/nbh/course/{{course}}'>Back to {{course}}</a>
</button>
</div>


<h1 class='page-header'>Status</h1>
Command <code>{{command}}</code> returned
{% if returcode == 0 %}
OK
{% else %}
{{ returncode }}
{% endif %}


{% if stdout %}
<h1 class='page-header'>stdout</h1>
<code>
<pre>
{{stdout}}
</pre>
</code>
{% endif %}

{% if stderr %}
<h1 class='page-header'>stderr</h1>
<code>
<pre>
{{stderr}}
</pre>
</code>
{% endif %}

{% endblock %}

