{% extends "nbhosting.html" %}


{% block head_title %}
{{course}} - {{how_many}} notebooks
{% endblock %}


{% block title %}
{{how_many}} notebooks in course {{course}}
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb staff">
{% if user.is_authenticated and user.is_staff %}
  <li class="breadcrumb-item auditor"><a href="/auditor/courses/">courses</a></li>
{% endif %}
    <li class="breadcrumb-item"><a href='/staff/'>staff</a></li>
    <li class="breadcrumb-item"><a href='/staff/courses/'>courses</a></li>
    <li class="breadcrumb-item active">{{course}}</li>
    <li class="breadcrumb-item"><a href="/staff/stats/{{course}}">stats</a></li>
</ol>
{% endblock %}


{% block content %}
<style>
.course-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.notebook {
    font-size: 50%;
    border: 0.1px solid #888;
    border-radius: 5px;
    padding: 4px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px
}
/* only in-course means it's not yet been copied */
.in-course.staff {
    background-color: #fef;
}
a.notebook {
    color: black;
}
a.notebook:hover {
    color: purple;
}
span.mapping {
    font-family: Andale Mono, monospace;
    font-size: 80%
}
span.mapping.from {
    color: blue;
}
span.mapping.to::before {
    content: " → $coursedir/";
    color: green;
}
span.mapping.to {
    color: red;
}
.smaller {
    font-size: 75%;
}
</style>

<script>
$(function () {
    let tooltips = $('[data-toggle="tooltip"]');
    tooltips.tooltip();
})
</script>

<!------------------------------>
<div class="container-fluid">
    <div class="row">

        <div class="col-8">
            <div class='section'>
                <a href='/staff/courses/update-from-git/{{course}}'
                 class='btn btn-info btn-lg btn-block' data-toggle="tooltip"
                 data-html="true" title="<span class='smaller'>
                    update course <code>{{course}}</code> <br/>using git pull from <br/><code>{{giturl}}</code> </span>">
                    git pull contents for {{course}}
                </a>
            </div> <!--section-->

            <div class="card-block m-3">
                <h2 class="card-title">{{how_many}} notebooks</h2>
            </div>
            <div class="course-box m-3">
                {% for notebook in notebooks %}
<a class='notebook in-course staff'
href='/auditor/notebook/{{course}}/{{notebook}}/staff'
>{{notebook}}
</a>
                {% endfor %}
            </div>
        </div> <!-- col-8-->

    <!------------------------------>
        <div class="col">

            <div class='section'>
                <a href='/staff/courses/build-image/{{course}}'
                class='btn btn-info btn-lg btn-block'>
                rebuild image
            </a>
            <a href='/staff/courses/clear-staff/{{course}}'
             class='btn btn-info btn-lg btn-block'
             data-toggle="tooltip"
             data-html="true"
             title="<span class='smaller'>remove all working copies for all people declared as staff</span>"
             >
                clear staff files
            </a>
        </div>

        <div class="card">
            <div class="card-block m-3">
                <h1 class="card-title">settings</h1>
            </div> <!-- card-block-->
            <div class="card-header">
                <p class="card-text">
                    use <code>nbh course-settings {{name}}</code> to tweak
                </p>
            </div> <!-- card-header-->
        </div> <!-- card-->


        <div class="card">
            <div class="card-block m-3">
                <h3 class="card-title" data-toggle="tooltip" data-html="true"
                title="<span class='smaller'>default is to use the course name<br/>in that case please provide <code>nbhosting/Dockerfile</code></span>">image</h3>
                <p class='card-text'> name: {{image}} </p>
            </div> <!-- card-block-->
        </div> <!-- card-->


        <div class="card">
            <div class="card-block m-3">
                <h3 class="card-title" data-toggle="tooltip" data-html="true"
                 title="static mappings are symlinks created in all working subdirs<br/> defined in <code>nbhosting/static-mappings</code>">static mappings</h3>
                 <ul class="list-group list-group-flush">
                    {% for static_mapping in static_mappings %}
                    <li class="list-group-item">
                        <p class='card-text'> {{static_mapping.html|safe|escape}} </p>
                    </li>
                    {% endfor %}
                </ul>
            </div> <!-- card-block-->
        </div> <!-- card-->


        <div class="card">
            <div class="card-block m-3">
                <h3 class="card-title" data-toggle="tooltip"
                title="students listed as staff are ignored when gathering usage statistics">staff</h3>
                <ul class="list-group list-group-flush">
                    {% for hash in staff %}
                    <li class="list-group-item">
                        <p class='card-text'> {{hash}} </p>
                    </li>
                    {% endfor %}
                </ul>
            </div> <!-- card-block-->
        </div> <!-- card-->

    </div> <!-- row-->
</div> <!-- container-->

{% endblock %}
