{% extends "nbhosting.html" %}

{% block head_title %}
{{course}} - stats
{% endblock %}

{% block title %}
Stats for course {{course}}
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href='/nbh/'>home</a></li>
  <li class="breadcrumb-item"><a href='/nbh/courses'>courses</a></li>
  <li class="breadcrumb-item active">{{course}}</li>
  <li class="breadcrumb-item"><a href="/nbh/course/{{course}}">notebooks</a></li>
</ol>

<div class="card">
<div class="card-block">
<button type="button" class="btn btn-outline-danger">Warning: all times are UTC</button>
<button type="button" class="btn btn-outline-success" id='show-all'>Show all</button>
<button type="button" class="btn btn-outline-primary" id='hide-all'>Hide all</button>
</div>
</div>

<!-- avoid the symlink in production
  -- but quite useful for adopting the latest one 
  -- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
<script src="https://cdn.plot.ly/plotly-1.25.2.min.js"></script>

<!-- html scafolding is based on 'sections' as defined in views.py -->
{% for section in sections %}
<div class='card'>
<h1 class='card-title card-header'>
{{section.title}}</h1>
<div class="card-block" id='{{section.id}}'>
{% for subsection in section.subsections %}
<h2 class='card-title card-header' data-toggle='collapse' data-target='#{{subsection.plotly_name}}-collapse'>
{{subsection.title}}</h2>
<div id='{{subsection.plotly_name}}-collapse' class='collapse'>
<div id='{{subsection.plotly_name}}'>
</div></div>
{% endfor %}
</div>
</div>
{% endfor %}

<!---------------------->
<script>
function show_all_collapse() {
    $(".collapse").collapse('show');
}
function hide_all_collapse() {
    $(".collapse").collapse('hide');
}
$(show_all_collapse);
$("#show-all").click(show_all_collapse);
$("#hide-all").click(hide_all_collapse);
let layout = {'legend' : { 'orientation' : 'h', 'x' : -.1, 'y': 1.2},
              'showlegend' : true};
let url_metrics="/nbh/stats/daily_metrics/{{course}}";
d3.request(url_metrics, function (error, response) {
    let incoming = JSON.parse(response.response);
    console.log("from daily_metrics");
    console.log(incoming);
    // incoming parts
    let d_timestamps     = incoming['daily']['timestamps'];
    let e_timestamps     = incoming['events']['timestamps'];
    let d_new_students   = incoming['daily']['new_students'];
    let d_uni_students   = incoming['daily']['unique_students'];
    let e_total_students = incoming['events']['total_students'];
    let d_new_notebooks   = incoming['daily']['new_notebooks'];
    let d_uni_notebooks   = incoming['daily']['unique_notebooks'];
    let e_total_notebooks = incoming['events']['total_notebooks'];

    let total_students_data = { 'x' : e_timestamps, 'y' : e_total_students,
				'name': 'total students'};
    let new_students_data =   { 'x' : d_timestamps, 'y' : d_new_students,
			        'name': 'new students / day'};
    let uni_students_data =   { 'x' : d_timestamps, 'y' : d_uni_students,
			        'name': 'unique students / day'};
    Plotly.newPlot('plotly-students',
		   [total_students_data, uni_students_data, new_students_data],
		   layout);

    let new_notebooks_data =   { 'x' : d_timestamps, 'y' : d_new_notebooks,
			         'name': 'new notebooks / day'};
    let uni_notebooks_data =   { 'x' : d_timestamps, 'y' : d_uni_notebooks,
			         'name': 'unique notebooks open / day'};
    let total_notebooks_data = { 'x' : e_timestamps, 'y' : e_total_notebooks,
    			       	 'name': 'notebooks read at least once'};
    Plotly.newPlot('plotly-notebooks',
		   [ uni_notebooks_data, new_notebooks_data, total_notebooks_data],
		   layout);
});
let url_counts="/nbh/stats/monitor_counts/{{course}}";
d3.request(url_counts, function (error, response) {
    let incoming = JSON.parse(response.response);
    console.log("from monitor counts");
    console.log(incoming);

    // incoming parts
    let timestamps  = incoming['timestamps'];
    let running_containers = incoming['running_containers'];
    let frozen_containers = incoming['frozen_containers'];
    var	total_containers = running_containers.map(function(num, index){
        return num+frozen_containers[index];})
    let running_kernels = incoming['running_kernels'];
// no longer displayed -   let student_homes = incoming['student_homes'];
    let docker_ds_percents = incoming['docker_ds_percents'];
    let docker_ds_frees = incoming['docker_ds_frees'];
    let nbhosting_ds_percents = incoming['nbhosting_ds_percents'];
    let nbhosting_ds_frees = incoming['nbhosting_ds_frees'];
    let load1s = incoming['load1s'];
    let load5s = incoming['load5s'];
    let load15s = incoming['load15s'];

    let running_containers_data = {
	'x' : timestamps, 'y' : running_containers,
	'name' : "running jupyter containers",
    };
    let total_containers_data = {
	'x' : timestamps, 'y' : total_containers,
	'name' : "total jupyter containers",
    };
    let running_kernels_data = {
	'x' : timestamps, 'y' : running_kernels,
	'name' : "running kernels"
    }
    Plotly.newPlot('plotly-containers-kernels',
		  [running_containers_data, total_containers_data, running_kernels_data],
  	          layout);	


    let docker_ds_percents_data = {
        'x': timestamps, 'y': docker_ds_percents,
        'name' : 'percentage of free disk space - docker fs',
    }
    let nbhosting_ds_percents_data = {
        'x': timestamps, 'y': nbhosting_ds_percents,
        'name' : 'percentage of free disk space - nbhosting fs',
    }
    let layout_100 = JSON.parse(JSON.stringify(layout));
    layout_100['yaxis'] = {'range' : [0, 100]};
    Plotly.newPlot('plotly-ds-percent',
                   [docker_ds_percents_data, nbhosting_ds_percents_data],
		   layout_100);
    

    let docker_ds_frees_data = {
        'x': timestamps, 'y': docker_ds_frees,
        'name' : 'free disk space - docker fs (in MiB)',
    }
    let nbhosting_ds_frees_data = {
        'x': timestamps, 'y': nbhosting_ds_frees,
        'name' : 'free disk space - nbhosting fs (in MiB)',
    }
    Plotly.newPlot('plotly-ds-free',
                   [docker_ds_frees_data, nbhosting_ds_frees_data],
		   layout);
    
    let load1s_data = {
        'x': timestamps, 'y': load1s,
        'name' : '100 x load past 1 minute',
    }
    let load5s_data = {
        'x': timestamps, 'y': load5s,
        'name' : '100 x load past 5 minutes',
    }
    let load15s_data = {
        'x': timestamps, 'y': load15s,
        'name' : '100 x load past 15 minutes',
    }
    Plotly.newPlot('plotly-cpu-load',
                   [load1s_data, load5s_data, load15s_data],
		   layout);
    
});
</script>
{% endblock %}
