{% extends "nbhosting.html" %}

{% block head_title %}
{{course}} - stats
{% endblock %}

{% block title %}
Stats for course {{course}}
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href='/nbh/'>home</a></li>
  <li class="breadcrumb-item"><a href='/nbh/courses'>courses</a></li>
  <li class="breadcrumb-item active">{{course}}</li>
  <li class="breadcrumb-item"><a href="/nbh/course/{{course}}">notebooks</a></li>
</ol>

<div class="card">
<div class="card-block">
<button type="button" class="btn btn-outline-danger">Warning: all times are UTC</button>
<button type="button" class="btn btn-outline-success" id='show-all'>Show all</button>
<button type="button" class="btn btn-outline-primary" id='hide-all'>Hide all</button>
</div>
</div>

<!-- avoid the symlink in production
  -- but quite useful for adopting the latest one 
  -- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
<script src="https://cdn.plot.ly/plotly-1.25.2.min.js"></script>

<!-- html scafolding is based on 'sections' as defined in views.py -->
{% for section in sections %}
<div class='card'>
 <h1 class='card-title card-header' data-toggle='collapse' data-target='#{{section.id}}'>
  {{section.title}}</h1>
 <div class="card-block collapse in" id='{{section.id}}'>
 {% for subsection in section.subsections %}
  <a name='{{subsection.plotly_name}}'></a>
  <h2 class='card-title card-header' data-toggle='collapse' data-target='#{{subsection.plotly_name}}-collapse'>
   {{subsection.title}}
    <!-- more harmful than helpful <a class="anchor-link" href="#{{subsection.plotly_name}}">¶</a>-->
    <span id="{{subsection.plotly_name}}-clock" class="fa fa-clock-o"></span>
  </h2>
  <div id='{{subsection.plotly_name}}-collapse' class='collapse{%if not subsection.hide %} in{% endif %}'>
   <div id='{{subsection.plotly_name}}' class='plotly-resize' style='width:94%; margin-left: 3%;'></div>
  </div>
 {% endfor %}
 </div>
</div>
{% endfor %}

<!---------------------->
<script>

"use strict";

function show_all_collapse() { $(".collapse").collapse('show'); }
function hide_all_collapse() { $(".collapse").collapse('hide'); }
$("#show-all").click(show_all_collapse);
$("#hide-all").click(hide_all_collapse);

/* in principle this would not be needed but well.. */
function init_all_collapse() {
console.log('init_all_collapse');
  $(".collapse.in").collapse('show');
}
$(init_all_collapse);

//////////////////// resizing on window resize or collapse-show
window.onresize = function() {
  $("div.collapse.show>.plotly-resize").each(function() {
    Plotly.Plots.resize(this);
  })
}

function arm_resize_on_collapse() {
  let count = $(".collapse").length;
  console.log(`arming with ${count}`);
  $(".collapse").on('shown.bs.collapse', function() {
    // this is a div.collapse and we want to locate its child
    // div.plotly-resize
    $(this).find("div.plotly-resize").each(function(){
      Plotly.Plots.resize(this);
      })
    });
}
$(arm_resize_on_collapse);
//////////
function turn_off_clock(plotly_name) {
    $(`#${plotly_name}-clock`).hide();
}

let legend_layout = { orientation : 'h', x : -.1, y: 1.2};
let layout = {
    showlegend : true,
    legend : legend_layout,
};
              
//////////////////////////////////////////////////
let url_metrics="/nbh/stats/daily_metrics/{{course}}";
d3.request(url_metrics, function (error, response) {
    let incoming = JSON.parse(response.response);
    console.log(`from daily_metrics ${url_metrics}`);
    console.log(incoming);
    // incoming parts
    let d_timestamps      = incoming.daily.timestamps;
    let e_timestamps      = incoming.events.timestamps;
    let d_new_students    = incoming.daily.new_students;
    let d_uni_students    = incoming.daily.unique_students;
    let e_total_students  = incoming.events.total_students;
    let d_new_notebooks   = incoming.daily.new_notebooks;
    let d_uni_notebooks   = incoming.daily.unique_notebooks;
    let e_total_notebooks = incoming.events.total_notebooks;

    let total_students_data = { x : e_timestamps, y : e_total_students,
				name : 'total students'};
    let new_students_data =   { x : d_timestamps, y : d_new_students,
			        name: 'new students / day'};
    let uni_students_data =   { x : d_timestamps, y : d_uni_students,
			        name: 'unique students / day'};
    turn_off_clock('plotly-students');
    Plotly.newPlot('plotly-students',
		   [total_students_data, uni_students_data, new_students_data],
		   layout);

    let new_notebooks_data =   { x : d_timestamps, y : d_new_notebooks,
			         name: 'new notebooks / day'};
    let uni_notebooks_data =   { x : d_timestamps, y : d_uni_notebooks,
			         name: 'unique notebooks open / day'};
    let total_notebooks_data = { x : e_timestamps, y : e_total_notebooks,
    			       	 name: 'notebooks read at least once'};
    turn_off_clock('plotly-notebooks');
    Plotly.newPlot('plotly-notebooks',
		   [ uni_notebooks_data, new_notebooks_data, total_notebooks_data],
		   layout);
});
//////////////////////////////////////////////////
let url_counts="/nbh/stats/monitor_counts/{{course}}";
d3.request(url_counts, function (error, response) {
    let incoming = JSON.parse(response.response);
    console.log(`from monitor counts ${url_counts}`);
    console.log(incoming);

    // incoming parts
    let timestamps            = incoming.timestamps;
    let running_containers    = incoming.running_containers;
    let frozen_containers     = incoming.frozen_containers;
    var	total_containers      = running_containers.map(function(num, index){
        return num+frozen_containers[index];})
    let running_kernels       = incoming.running_kernels;
    let docker_ds_percents    = incoming.docker_ds_percents;
    let docker_ds_frees       = incoming.docker_ds_frees;
    let nbhosting_ds_percents = incoming.nbhosting_ds_percents;
    let nbhosting_ds_frees    = incoming.nbhosting_ds_frees;
    let system_ds_percents    = incoming.system_ds_percents;
    let system_ds_frees       = incoming.system_ds_frees;
    let load1s                = incoming.load1s;
    let load5s                = incoming.load5s;
    let load15s               = incoming.load15s;

    let running_containers_data = {
	x : timestamps, y : running_containers,
	name : "running jupyter containers",
    };
    let total_containers_data = {
	x : timestamps, y : total_containers,
	name : "total jupyter containers",
    };
    let running_kernels_data = {
	x : timestamps, y : running_kernels,
	name : "running kernels"
    }
    turn_off_clock('plotly-containers-kernels');
    Plotly.newPlot('plotly-containers-kernels',
		  [running_containers_data, total_containers_data, running_kernels_data],
  	          layout);	


    let docker_ds_percents_data = {
        x: timestamps, y: docker_ds_percents,
        name : '% of free disk space - docker fs',
    }
    let nbhosting_ds_percents_data = {
        x: timestamps, y: nbhosting_ds_percents,
        name : 'nbhosting fs',
    }
    let system_ds_percents_data = {
        x: timestamps, y: system_ds_percents,
        name : 'system fs',
    }
    let layout_100 = JSON.parse(JSON.stringify(layout));
    layout_100.yaxis = {range : [0, 100]};
    turn_off_clock('plotly-ds-percent');
    Plotly.newPlot('plotly-ds-percent',
                   [docker_ds_percents_data, nbhosting_ds_percents_data, system_ds_percents_data],
		   layout_100);
    

    let docker_ds_frees_data = {
        x: timestamps, y: docker_ds_frees,
        name : 'free disk space - docker fs (in MiB)',
    }
    let nbhosting_ds_frees_data = {
        x: timestamps, y: nbhosting_ds_frees,
        name : 'free disk space - nbhosting fs (in MiB)',
    }
    let system_ds_frees_data = {
        x: timestamps, y: system_ds_frees,
        name : 'free disk space - system fs (in MiB)',
    }
    turn_off_clock('plotly-ds-free');
    Plotly.newPlot('plotly-ds-free',
                   [docker_ds_frees_data, nbhosting_ds_frees_data, system_ds_frees_data],
		   layout);
    
    let load1s_data = {
        x: timestamps, y: load1s,
        name : '100 x load past 1 minute',
    }
    let load5s_data = {
        x: timestamps, y: load5s,
        name : '100 x load past 5 minutes',
    }
    let load15s_data = {
        x: timestamps, y: load15s,
        name : '100 x load past 15 minutes',
    }
    turn_off_clock('plotly-cpu-load');
    Plotly.newPlot('plotly-cpu-load',
                   [load1s_data, load5s_data, load15s_data],
		   layout);
    
});
//////////////////////////////////////////////////
let url_usage="/nbh/stats/material_usage/{{course}}";
d3.request(url_usage, function(error, response) {
    let incoming = JSON.parse(response.response);
    console.log(`from material usage ${url_usage}`);
    console.log(incoming);

    /* WARNING: using the same layout object as above here
       would result in the layout object being changed
       and becoming unusable for the other figures
       and that was rather nasty to troubleshoot */
    let bar_layout = {
        showlegend : true,
        legend : legend_layout,
    }
    
    ////////// nb students per notebook - static version
    //
    // raw incoming is a list of couples
    let nbstudents_per_notebook = incoming.nbstudents_per_notebook;

    // extract X's and Y's from the data structure
    // [ (nbname, nb_students) ... ]
    // arbitrarily start at 1
    function nbs_per_nb_x(tuples) {
        return tuples.map(function(_, i) { return String(i+1);});
    }
    function nbs_per_nb_y(tuples) {
        return tuples.map(function(tuple) { return tuple[1];});
    }
    function nbs_per_nb_labels(tuples) {
        return tuples.map(function(tuple) { return tuple[0];});
    }
    let x1 = nbs_per_nb_x(nbstudents_per_notebook);
    // actual number of students that have seen it
    let y1 = nbs_per_nb_y(nbstudents_per_notebook);
    // notebook id like w1/w1-s1-path
    let labels1 = nbs_per_nb_labels(nbstudents_per_notebook);

    let nbstudents_per_notebook_data = {
        type : 'bar',
        text : labels1,
        x : x1,
        y: y1,
        name : `number of students/${incoming.nbstudents} per notebook`,
        };
    turn_off_clock('plotly-nbstudents-per-notebook');
    Plotly.newPlot('plotly-nbstudents-per-notebook',
                   [nbstudents_per_notebook_data],
                   bar_layout);

    ////////// nb students per notebook - animated version
    //
    // inspired from https://plot.ly/javascript/gapminder-example/
    // and           https://plot.ly/python/animations/
    let nbs_per_nb_a = incoming.nbstudents_per_notebook_animated;
    console.log('nbs_per_nb_a', nbs_per_nb_a);

    let traces = [];
    // let latest_data = nbs_per_nb_a[nbs_per_nb_a.length-1];
    traces.push(nbstudents_per_notebook_data);


    let frames = [];
    for (let bucket_key in nbs_per_nb_a) {
        let data = nbs_per_nb_a[bucket_key];
        // at that point data is a list of tuples (notebook, nb_students)
        frames.push({
            name : `inframe(${bucket_key})`,
            data: [ { x : nbs_per_nb_x(data),
                      y : nbs_per_nb_y(data),
                      type : 'bar',
                    }],
        })
    };

    function tick(bucket_key){
        return bucket_key
            .replace(/^20/, '')
            .replace(/T/, '@')
            .replace(/:00:00/, 'h')
        ;
    }

    let sliderSteps = [];
//    for (let bucket_key in nbs_per_nb_a) {
//        sliderSteps.push({
//            method : 'animate',
//            label : tick(bucket_key),
//            args : [ [bucket_key], {
//                mode: 'immediate',
//                transition : {duration: 50},
//                frame : { duration: 400, redraw: true},
//            }]
//        })
//    };

    let animated_bar_layout = Object.assign({
        updatemenus: [{
            x: 0,
            y: 0,
            yanchor: 'top',
            xanchor: 'left',
            showactive: false,
            direction: 'left',
            type: 'buttons',
            pad: {t: 90, r: 10},
            buttons: [{
                method: 'animate',
                args: [null, {
                    mode: 'immediate',
                    fromcurrent: true,
                    transition: {duration: 0},
                    frame: {duration: 200, redraw: true}
                }],
                label: 'Play'
            }, {
                method: 'animate',
                args: [[null], {
                    mode: 'immediate',
                    transition: {duration: 0},
                    frame: {duration: 0, redraw: true}
                }],
                label: 'Pause'
            }]
        }],
        sliders: [{
            pad: {l: 130, t: 55},
            currentvalue: {
                visible: true,
                prefix: 'time:',
                xanchor: 'right',
                font: {size: 20, color: '#666'}
            },
            steps: sliderSteps,
        }],
    }, bar_layout);
    console.log('a data', traces);
    console.log('a frames', frames);
    console.log('a layout', animated_bar_layout);
    turn_off_clock('plotly-nbstudents-per-notebook-animated');
    Plotly.newPlot('plotly-nbstudents-per-notebook-animated', {
            data:   traces,
            frames: frames,
            layout: animated_bar_layout,
    });


    //////////
    let nbstudents_per_nbnotebooks = incoming.nbstudents_per_nbnotebooks;
    let x2 = nbstudents_per_nbnotebooks.map(function(tuple) { return tuple[0];});
    let y2 = nbstudents_per_nbnotebooks.map(function(tuple) { return tuple[1];});
    let labels2 = nbstudents_per_nbnotebooks.map(function(tuple) {
        return `# of students who have read ${tuple[0]} notebooks`;
    });

    let nbstudents_per_nbnotebooks_data = {
        type : 'bar', text : labels2,
        x : x2, y : y2,
        name : `number of students/${incoming.nbstudents} who have read exactly that many notebooks`,
        marker : { color: '#91d27e'},
        };
    turn_off_clock('plotly-nbstudents-per-nbnotebooks');
    Plotly.newPlot('plotly-nbstudents-per-nbnotebooks',
                   [nbstudents_per_nbnotebooks_data],
                   bar_layout);

    //////////
    let heatmap = incoming.heatmap;

    let heatmap_data = {
        type : 'heatmap', 
        x : heatmap.x, y : heatmap.y, z : heatmap.z,
        zmin : 1, zmax : heatmap.zmax,
        hoverinfo : 'x+z',
        colorscale : [
            [0.0, 'rgb(69,117,180)'], 
            [0.2, 'rgb(171,217,233)'], 
            [0.4, 'rgb(224,243,248)'], 
            [0.6, 'rgb(254,224,144)'],
            [0.8, 'rgb(253,174,97)'], 
            [1.0, 'rgb(215,48,39)'],
        ],
        colorbar : {
            title : '# times opened',
            titleside : 'top',
            lenmode : 'pixels',
            len :     400,
            thickness : 50,
            xpad : 50,
        }         
    }

    // default sizes for each rectangle notebook x student
    let defx = 2, defy = 2;
    // at most 800 in width, at least 500 in height
    let minx = 500, maxx = 800, miny = 500;
    // how many x's and y's
    let hx = heatmap.z[0].length;
    let hy = heatmap.z.length;
    // total sizes
    let width  = Math.max(minx, Math.min(maxx, defx*hx)),
        height = Math.max(miny, defy*hy);

    let heatmap_layout = {
        width : width, height : height,
        xaxis : { ticks: "", showticklabels: false, },
        yaxis : { ticks: "", showticklabels: false, },
        legend: legend_layout,
        title:  `${incoming.nbnotebooks} notebooks ＊ ${incoming.nbstudents} students map`,
    };
    turn_off_clock('plotly-heatmap');
    Plotly.newPlot('plotly-heatmap',
                   [heatmap_data],
                   heatmap_layout);
        
});

// slider code from https://bl.ocks.org/mbostock/6452972
let url_attendance="/nbh/stats/animated_attendance/{{course}}";
d3.request(url_attendance, function(error, response) {
    let incoming = JSON.parse(response.response);
    console.log(`from animated_attendance ${url_attendance}`);
    console.log(incoming);
    
    let total_width = 900,
        total_height = 300,
        margin = { top: 50, right: 200, bottom:10, left: 20},
        width = total_width - margin.left - margin.right,
        height = total_height - margin.top - margin.bottom;
    
    let timestamps = incoming.timestamps,
        notebooks = incoming.notebooks,
        attendance = incoming.attendance;
    
    // this one is in d3
    let svg = d3.select("#d3-nb-students-per-notebook").
        append("svg:svg").
        attr("width", total_width).
        attr("height", total_height);
    
    let scale = d3.scaleLinear()
        .domain([0, timestamps.length - 1])
        .range([0, width])
        .clamp(true);
    
    let slider = svg.append("g")
        .attr('class', 'slider')
        .attr("transform", `translate(${margin.left}, ${margin.top})`);
    
    slider.append("line")
        .attr('class', 'track')
        .attr('x1', scale.range()[0])
        .attr('x2', scale.range()[1])
      .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
        .attr('class', 'track-inset')
      .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
        .attr('class', 'track-overlay')
        .call(d3.drag()
              .on("start.interrupt", function() { slider.interrupt(); })
              .on("start drag", function() {
                  console.log("BIP");
              }));
      
    slider.insert("g", ".track-overlay")
        .attr("class", "ticks")
        .attr("transform", `translate(0, ${margin.top})`)
      .selectAll("text")
        .data(scale.ticks(timestamps.length))
        .enter()
        .append("text")
        .attr("x", scale)
        .attr("text-anchor", "middle")
        .text(function(d) { return timestamps[d]; });

    let handle = slider.insert("circle", ".track-overlay")
        .attr("class", "handle")
        .attr("r", 9);

    return;
//      barDemo.selectAll("text.yAxis").
//  data(data).
//  enter().append("svg:text").
//  attr("x", function(datum, index) { return x(index) + barWidth; }).
//  attr("y", height).
//  attr("dx", -barWidth/2).
//  attr("text-anchor", "middle").
//  attr("style", "font-size: 12; font-family: Helvetica, sans-serif").
//  text(function(datum) { return datum.year;}).
//  attr("transform", "translate(0, 18)").
//  attr("class", "yAxis");
});

</script>
<style>
.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}
</style>
{% endblock %}
