{% extends "nbhosting.html" %}

{% block title %}
Welcome to nbhosting
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">home</li>
</ol>

<div class="card">
<div class="card-block m-5">

<p>

nbhosting was originally designed for hosting notebooks
as a silent companion to edx-hosted courses.

</p><p>

It now has an additional feature to be used in the classroom.
{% if user.is_authenticated %}
 {% if user.is_staff %}
</p><p>
   As a super-user, <a href="/staff/courses/">you can manage the site here.</a>
</p><p>
 {% endif %}
You can <a href="/auditor/courses/">see your courses here</a>.
{% else %}
For using it under
this mode you will need to ask your teacher for an account, and then <a
href="/accounts/login/"> log into the system</a>.
{% endif %}
</div>
</div>

{% endblock %}
