{% extends "nbhosting.html" %}

{% block head_title %}
nbhosting : bye
{% endblock %}

{% block title %}
good bye
{% endblock %}

{% block content %}

<h3>You have been logged out</h3>

<p>
{% if logout_cleanup_ok %}
    {% if nb_containers_after == 0 %}
        {{nb_containers_before}} running containers have been killed for you.
    {% else %}
        There were {nb_containers_before}}  running when you logged out, 
        and {{nb_containers_after}} are now still active.
    {% endif %}
{% else %}
  Exception occurred while trying to clean up your containers<br/> {{logout_cleanup_exception}}
{% endif %}
</p>

<h4>Thank you for using nbhosting</h4>

<h3><a href="/accounts/login/">Click here to log back in</a></h3>


{% endblock %}
