{% extends "nbhosting.html" %}

{% block head_title %}
nbhosting password reset
{% endblock %}


{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<style>
.all-width {
    width: 100%;
}
input[type="email"] {
    width: 70%;

}
</style>

<div class="row p-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                Forgotten your password? Enter your email address here,
                and we'll email instructions for setting a new one.
            </div>  
        </div>
    </div>
    <div class="col-md-8">
        <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">
                    {{ form.email.errors }}
                    <label class="btn-primary p-2 m-2" for="id_email">
                        Email address:
                    </label>
                    {{ form.email }}
                </div>
                <input class="p-2 m-2 btn-danger all-width" 
                type="submit" value="Reset my password">
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
