{% extends "nbhosting.html" %}

{% block head_title %}
enter new password
{% endblock %}

{% block title %}
password reset
{% endblock %}

{% block content %}

<script>
$(function() {
    $("ul.errorlist").addClass("col-md-12");
    $("ul.errorlist li").addClass("text-danger");
    $(".box label").addClass("col-md-12")
        .addClass("btn").addClass("btn-outline-primary")
        .addClass('disabled')
        ;
    $(".box input").addClass("col-md-12");
    $("input#id_new_password1")
        .attr("placeholder", "new password")
        .addClass("mb-2");
    $("input#id_new_password2")
        .attr("placeholder", "new password again")
        .addClass("mb-3");
})
</script>
        
<div class="row p-4">
{% comment %}    {% if validlink %} {% endcomment %}

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                Please enter your new password twice so we can verify
                you typed it in correctly.
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <form method="post">{% csrf_token %}
            <fieldset class="module box">
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                    {{ form.new_password2 }}
                </div>
                <input type="submit" value="Change my password"
                    class="btn btn-lg btn-primary btn-block mt-1">
            </fieldset>
        </form>
    </div>

{% comment %}    {% else %}

    <div class="card">
        <div class="card-body">
            The password reset link was invalid,
            possibly because it has already been used.
            Please request a new password reset.
        </div>
    </div>

    {% endif %} {% endcomment %}
</div>

{% endblock %}
