{% extends "nbhosting.html" %}

{% block head_title %}
nbhosting password reset
{% endblock %}


{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<script>
$(function() {
    $(".box>label").addClass("col-md-2")
        .addClass("btn").addClass("btn-outline-primary")
        ;
    $(".box>input").addClass("col-md-9");
    $("input#id_email")
        .attr("placeholder", "e-mail");
})
</script>

<div class="row p-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                Forgotten your password? Enter your email address here,
                and we'll email instructions for setting a new one.
            </div>  
        </div>
    </div>
    <div class="col-md-8">
        <form method="post">{% csrf_token %}
            <div class="box">
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                {{ form.email }}
                <button id='submit' class="btn btn-lg btn-primary btn-block mt-1"
                    type="submit">Reset my password</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
